<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLLOS CAMPEON</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-+dAw0Oqz8h+Ax2zQwePS04WtPIH2tjFo70vSmz56n6slsjwlbUBK4kioOVMzE9IzH7YO5TG+ks65RvJrkUljCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://img.freepik.com/vector-gratis/pared-piso-madera-superficie-envejecida-realista_107791-682.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1706400000&semt=ais'); /* Cambia la URL por la imagen que desees */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #f2f2f2;
        }

        header {
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 14px 20px;
            display: inline-block;
        }

        nav a:hover {
            background-color: #2a16e7;
        }


        header img {
            max-width: 20%;
            height: auto;
        }

        h1 {
            text-align: center;
            color: #fff;
        }
        

        .pide-ya-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }

        .card-img-top {
            max-height: 200px; 
            object-fit: cover; 
        }
    </style>
</head>

<body>

    <div id="app">
        <header>
            <img src="https://polloscampeon.com/wp-content/uploads/2021/04/Web-06-1024x471.png" alt="Logo">
        </header>
        <br>
        
        <center>
        <img src="https://polloscampeon.com/wp-content/uploads/2023/07/combo-3-pollos-campeon.webp" alt="Combo de Pollos Campeón" style="width: 30%; height: 30%;;">        &nbsp;
        <img src="https://polloscampeon.com/wp-content/uploads/2023/07/combo-2-pollos-campeon.webp" alt="Combo de Pollos Campeón" style="width: 30%; height: 30%;;">
    </center>
        <div style="padding: 20px;">
            <h1>Menú del Día</h1>
            <ul class="menu-list" id="menuList"></ul>
        </div>

        <div class="container">
            <div class="d-flex justify-content-around flex-wrap">
                <div v-for="pollo in pollos" class="card mb-3" style="width: 18rem;">
                    <img :src="pollo.imagen" class="card-img-top" alt="Imagen de {{ pollo.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{pollo.nombre}}</h5>
                        <p class="card-text">Precio: Bs. {{ pollo.precio }}</p>
                        <button class="pide-ya-button" @click="pideYa">RESERVA TU MESA!!!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua/Cz7ZP5e5xNUwy5v2vYDIqUKVKz8tMT9zS4W+hFp27K2Yab9fiHA5sP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-Cu6q6A5Uubv87iEXg1O52Wz5hTbgkS2eP6yVtQNkkSavMolWE9TqefG0oLfnhQK//8tT2b2/NEbuFt7m0v1Q0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    pollos: [
                        { nombre: "POLLO ALA BRASA PECHO", precio: 28, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/PiernaBrasa.jpg" },
                        { nombre: "POLLO A LA BROASTER", precio: 26, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/PataBroaster.jpg" },
                        { nombre: "PIPOCAS DE POLLO CON PAPAS", precio: 22, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/PipocaPollo-1.jpg" },
                        { nombre: "COMBO PIPOCA", precio: 25, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/ComboPipoca.png" },
                        { nombre: "POLLO ENTERO SIN GUARNICION", precio: 85, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/PolloEnteroSinGuarnicion1.jpg" },
                        { nombre: "POLLO ENTERO CON GUARNICIONES", precio: 104, imagen:"https://polloscampeon.com/wp-content/uploads/2021/05/PolloEnteroConGuarnicion.jpg" },
                        { nombre: "MILANEZA NAPOLITANA", precio: 23, imagen:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUufgm53nzBoDpLfXv0zwA7QeD4PnmoIn0Zg&usqp=CAU" },
                        { nombre: "LASAÑA DE POLLO", precio: 19, imagen:"https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/DD19F124-1A31-45A3-913E-EC62FC632CAA/Derivates/6131BA83-FB55-4E1A-BA9D-304264B97E17.jpg" },
                        { nombre: "ENSALADA CESAR", precio: 26, imagen:"https://www.gourmet.cl/wp-content/uploads/2016/09/Ensalada_C%C3%A9sar-web-553x458.jpg" },
                    ],
                };
            },
            methods: {
                pideYa() {
                    window.location.href = "file:///C:/Users/Hugoj/OneDrive/Documents/Proyecto/css.html";
                }
            }
        }).mount('#app');
    </script>
</body>

</html>
