
 body{
    background-image: url('imag/fondo.jfif');
 }
 /* Estilo para el carrusel */
 .carousel {
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    
  }

  .carousel .slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel .slide {
    width: 800px;
    height: 400px;
    flex-shrink: 0;
  }
img{
    height: 650px;
    
}
#titulo{
    font-size: 110px;
    -webkit-text-stroke: 1px rgb(255, 153, 0);

    font-family:Castellar;
    text-align: center;
    
    color: rgb(248, 248, 248);
    
}
#subtitulo{
    font-size: 50px;
    font-family:Rockwell Extra Bold;
    text-align: center;
    color: rgb(255, 153, 0);
    text-shadow: 0 0 20px rgb(0, 0, 0);
}
#Menu{
  
  text-align: center;
  
  
  
}
#elmenu{
  font-family: Showcard Gothic ;
  font-size: 60px;
  text-align: center;
    color:rgb(255, 153, 0);
}

