<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Online</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="myestilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="logo">
                <a href="index.html"><img src="img/logo.png"></a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="index.html" class="nav-letras">Inicio</a></li>
                    <li class="dropdown">
                        <button class="dropbtn">Libros</button>
                        <div class="dropdown-content">
                          <a href="mejoresLibros.html">Libros mas Solicitados</a>
                          <a href="#">Libros mas Recomendados</a>
                          <a href="#">Libros Infantiles</a>
                        </div>
                    </li>
                    <li><a href="quienesSomos.html" class="nav-letras">Quienes somos</a></li>
                </ul>
            </nav>
            <div class="btn-2">
                <a href="usuario.html" class="btn nav-btn"><button class="fa-solid fa-user"></button></a>
                <a @click="openCarr" class="btn nav-btn menuCarrito">
                    <button class="fa-solid fa-cart-shopping">
                        <span class="notificacion">{{cantidadCarrito}}</span>
                    </button>
                </a>
                <a href="contactos.html" class="btn nav-btn"><button>contactos</button></a>
            </div>
            <div v-if="mostrarCarrito" class="overlayCarrito">
                <a @click="closeCarr" class="close-carrito"><i class="fa-solid fa-arrow-left">Salir</i></a>
                <span v-if="cantidadCarrito == 0">
                    <p>No Tiene Agregado ningun Libro en el Carrito</p>
                </span>
                <span v-if="cantidadCarrito >= 1">
                    <table>
                        <thead>
                            <tr>
                              <th >Id</th>
                              <th >Nombre del Libro</th>
                              <th >Cantidad</th>
                              <th >precio</th>
                              <th >total</th>
                            </tr>
                          </thead>
                          <tbody>        
                            <tr v-for="product in libros">
                              <th>{{product.id}}</th>
                              <td>{{product.nombre}}</td>
                              <td>{{product.cantidad}}</td>
                              <td>Bs.{{product.precio}}</td>
                              <td>Bs.{{product.cantidad*product.precio}}</td>
                              <td class="btn-2">
                                <button @click="Comprar(product)" class="book-button">Comprar</button>
                              </th>
                            </tr>       
                          </tbody>
                    </table>
                </span>
            </div>
            <a onclick="openNav()" class="menu" href="#"><button class="fa-solid fa-bars"></button></a>
            <div class="overlay" id="mobile-menu">
                <a onclick="closeNav()" href="" class="close"><i class="fa-solid fa-arrow-left"></i></a>
                <div class="overlay-content">
                    <a href="#">Inicio</a>
                    <a href="#">Libros</a>
                    <a href="#">Autores</a>
                    <a href="#">Quienes Somos</a>
                    <a href="index.html">contactos</a>
                </div>
            </div>
        </header>
        <div class="pantalla-dividida">
            <div class="menu-lateral">
                <h5>Buscar Libros</h5>
                <label>Seleccione el libro a buscar</label>
                <ul>
                    <li><input type="checkbox" v-model="mostrarMatematicas">Matematicas</li>
                    <li><input type="checkbox" v-model="mostrarLiteratura">Literatura</li>
                    <li><input type="checkbox" v-model="mostrarBiologia">Biologia</li>
                    <li><input type="checkbox" v-model="mostrarHistoria">Historia</li>
                </ul>
            </div>
            <div class="principal">
                <h1>Books Online</h1>
                <p>
                    Bienvenido a la Tienda de Libros. Explora nuestro catálogo y encuentra una amplia selección de libros
                    disponibles para su compra. Simplemente ingresa el nombre del libro que estás buscando
                    en el campo de búsqueda a continuación y haz clic en "Buscar Libros". Obtendrás detalles sobre
                    los libros en venta, incluyendo el título, los autores y la portada del libro.
                </p>
                    <!-- Mostrar libros de Matematicas si está seleccionado el checkbox -->
                <ul v-if="mostrarMatematicas">
                    <h1>Libros de Matematicas</h1>
                    <span v-for="book in libro" :key="book.id">
                        <div v-if="book.materia == 'matematica'"class="book-container portada-book">
                            <div>
                                <img :src="book.foto" alt="Portada del libro">
                            </div>
                            <div class="book-info">
                                <p class="book-title">Titulo : {{ book.nombre }}</p>
                                <p class="book-author">Autor : {{ book.autor }}</p>
                                <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                            </div>
                            Cantidad a comprar: <input type="number" v-model="book.cantidad" min="1" :max="book.stock">
                            <span v-if="book.cantidad<=0">
                                <p>{{cantidadInferior}}</p>
                            </span>
                            <span v-if="book.cantidad > book.stock">
                                <p >{{cantidadExcedida}}</p>
                            </span>
                            <p>Precio Unitario: Bs {{book.precio}}</p>
                            <p>Cantidad de libros: {{book.stock}} Unid.</p>
                            <div class="btn-2">
                                <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                            </div>
                        </div>
                    </span>
                    <div v-if="mostrarLiteratura">
                        <h1>Libros de Literatura</h1>
                        <span v-for="book in libro" :key="book.id">
                            <div v-if="book.materia == 'literatura'"class="book-container portada-book">
                                <div>
                                    <img :src="book.foto" alt="Portada del libro">
                                </div>
                                <div class="book-info">
                                    <p class="book-title">Titulo : {{ book.nombre }}</p>
                                    <p class="book-author">Autor : {{ book.autor }}</p>
                                    <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                </div>
                                Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                <span v-if="book.cantidad<=0">
                                    <p>{{cantidadInferior}}</p>
                                </span>
                                <span v-if="book.cantidad > book.stock">
                                    <p >{{cantidadExcedida}}</p>
                                </span>
                                <p>Precio Unitario: Bs {{book.precio}}</p>
                                <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                <div class="btn-2">
                                    <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                    <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                </div>
                            </div>
                        </span>
                        <div v-if="mostrarBiologia">
                            <h1>Libros de Biologia</h1>
                            <span v-for="book in libro" :key="book.id">
                                <div v-if="book.materia == 'biologia'"class="book-container portada-book">
                                    <div>
                                        <img :src="book.foto" alt="Portada del libro">
                                    </div>
                                    <div class="book-info">
                                        <p class="book-title">Titulo : {{ book.nombre }}</p>
                                        <p class="book-author">Autor : {{ book.autor }}</p>
                                        <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                    </div>
                                    Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                    <span v-if="book.cantidad<=0">
                                        <p>{{cantidadInferior}}</p>
                                    </span>
                                    <span v-if="book.cantidad > book.stock">
                                        <p >{{cantidadExcedida}}</p>
                                    </span>
                                    <p>Precio Unitario: Bs {{book.precio}}</p>
                                    <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                    <div class="btn-2">
                                        <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                        <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                    </div>
                                </div>
                            </span>
                            <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div v-else="mostrarBiologia">
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div v-else="mostrarLiteratura">
                        <div v-if="mostrarBiologia">
                            <h1>Libros de Biologia</h1>
                            <span v-for="book in libro" :key="book.id">
                                <div v-if="book.materia == 'biologia'"class="book-container portada-book">
                                    <div>
                                        <img :src="book.foto" alt="Portada del libro">
                                    </div>
                                    <div class="book-info">
                                        <p class="book-title">Titulo : {{ book.nombre }}</p>
                                        <p class="book-author">Autor : {{ book.autor }}</p>
                                        <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                    </div>
                                    Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                    <span v-if="book.cantidad<=0">
                                        <p>{{cantidadInferior}}</p>
                                    </span>
                                    <span v-if="book.cantidad > book.stock">
                                        <p >{{cantidadExcedida}}</p>
                                    </span>
                                    <p>Precio Unitario: Bs {{book.precio}}</p>
                                    <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                    <div class="btn-2">
                                        <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                        <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                    </div>
                                </div>
                            </span>
                            <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div v-else="mostrarBiologia">
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </ul>
                    <!-- MOSTRAR LIBROS Y TITULOS DE INICIOS -->
                <ol v-else="mostrarMatematicas">
                    <div v-if="mostrarLiteratura">
                        <h1>Libros de Literatura</h1>
                        <span v-for="book in libro" :key="book.id" v-model="ocultarInicio">
                            <div v-if="book.materia == 'literatura'"class="book-container portada-book">
                                <div>
                                    <img :src="book.foto" alt="Portada del libro">
                                </div>
                                <div class="book-info">
                                    <p class="book-title">Titulo : {{ book.nombre }}</p>
                                    <p class="book-author">Autor : {{ book.autor }}</p>
                                    <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                </div>
                                Cantidad a comprar: <input type="number" v-model="book.cantidad" min="0" :max="book.stock">
                                <span v-if="book.cantidad<=0">
                                    <p>{{cantidadInferior}}</p>
                                </span>
                                <span v-if="book.cantidad > book.stock">
                                    <p >{{cantidadExcedida}}</p>
                                </span>
                                <p>Precio Unitario: Bs {{book.precio}}</p>
                                <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                <div class="btn-2">
                                    <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                    <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                </div>
                            </div>
                        </span>
                        <div v-if="mostrarBiologia">
                            <h1>Libros de Biologia</h1>
                            <span v-for="book in libro" :key="book.id">
                                <div v-if="book.materia == 'biologia'"class="book-container portada-book">
                                    <div>
                                        <img :src="book.foto" alt="Portada del libro">
                                    </div>
                                    <div class="book-info">
                                        <p class="book-title">Titulo : {{ book.nombre }}</p>
                                        <p class="book-author">Autor : {{ book.autor }}</p>
                                        <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                    </div>
                                    Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                    <span v-if="book.cantidad<=0">
                                        <p>{{cantidadInferior}}</p>
                                    </span>
                                    <span v-if="book.cantidad > book.stock">
                                        <p >{{cantidadExcedida}}</p>
                                    </span>
                                    <p>Precio Unitario: Bs {{book.precio}}</p>
                                    <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                    <div class="btn-2">
                                        <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                        <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                    </div>
                                </div>
                            </span>
                            <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div v-else="mostrarBiologia">
                                <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                                <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div v-else="mostrarLiteratura">
                        <div v-if="mostrarBiologia">
                            <h1>Libros de Biologia</h1>
                            <span v-for="book in libro" :key="book.id">
                                <div v-if="book.materia == 'biologia'"class="book-container portada-book">
                                    <div>
                                        <img :src="book.foto" alt="Portada del libro">
                                    </div>
                                    <div class="book-info">
                                        <p class="book-title">Titulo : {{ book.nombre }}</p>
                                        <p class="book-author">Autor : {{ book.autor }}</p>
                                        <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                    </div>
                                    Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                    <span v-if="book.cantidad<=0">
                                        <p>{{cantidadInferior}}</p>
                                    </span>
                                    <span v-if="book.cantidad > book.stock">
                                        <p >{{cantidadExcedida}}</p>
                                    </span>
                                    <p>Precio Unitario: Bs {{book.precio}}</p>
                                    <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                    <div class="btn-2">
                                        <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                        <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                    </div>
                                </div>
                            </span>
                            <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div v-else="mostrarBiologia">
                            <!-- Mostrar libros de Historia si está seleccionado el checkbox -->
                            <div v-if="mostrarHistoria">
                                <h1>Libros de Historias</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'historia'"class="book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad" min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div v-else="mostrarHistoria">
                                <h1>Libros mas Solicitados</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'solicitado'" class=" book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad"  min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                                <h1>Libros mas Recomendado</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'recomendado'" class=" book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad" min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                                <h1>Libros mas Infantiles</h1>
                                <span v-for="book in libro" :key="book.id">
                                    <div v-if="book.materia == 'infantile'" class=" book-container portada-book">
                                        <div>
                                            <img :src="book.foto" alt="Portada del libro">
                                        </div>
                                        <div class="book-info">
                                            <p class="book-title">Titulo : {{ book.nombre }}</p>
                                            <p class="book-author">Autor : {{ book.autor }}</p>
                                            <p class="book-reseña">Descripcion : {{book.reseña}}</p>
                                        </div>
                                        Cantidad a comprar: <input type="number" v-model="book.cantidad" min="0" :max="book.stock">
                                        <span v-if="book.cantidad<=0">
                                            <p>{{cantidadInferior}}</p>
                                        </span>
                                        <span v-if="book.cantidad > book.stock">
                                            <p >{{cantidadExcedida}}</p>
                                        </span>
                                        <p>Precio Unitario: Bs {{book.precio}}</p>
                                        <p>Cantidad de libros: {{book.stock}} Unid.</p>
                                        <div class="btn-2">
                                            <button @click="Carrito(book)" class="book-button">Añadir al</button>
                                            <button class="fa-solid fa-cart-shopping mas-detalle"></button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>
    <footer class="footer-2">
        <div class="footer-3">
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Correo: info@BookOnline.com</p>
                <p>Teléfono: +591 72178092</p>
            </div>
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Politica y Privacidad</p>
                <p>Sobre Nuestra Empresa</p>
            </div>
            <div class="social-icons">
                <h4>siguenos en nuestra redes oficiales</h4>
                <a href="https://www.facebook.com/profile.php?id=61553220872088&mibextid=ZbWKwL" class="fa-brands fa-facebook footer-facebook"></a>
                <a href="https://www.instagram.com/book.online100?igsh=dW44dHZsMzB4dzA2" class="fa-brands fa-instagram footer-instagram"></a>
                <a href="https://www.youtube.com/channel/UC4-qw6YgYrBchoFytb9vVbA" class="fa-brands fa-youtube footer-youtube"></a>
                <a href="https://www.tiktok.com/@Book_Online" class="fa-brands fa-tiktok footer-tiktok"></a>
                <a href="" class="fa-brands fa-whatsapp footer-whatsapp"></a>
            </div>
        </div>
        <span>© Copyright Book Online All Rights Reserved.</span>
    </footer>
    <script src="vue.js"></script>
    <script type="text/javascript" src="nav.js"></script>
</body>
</html>