<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="myestilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="forUsuario">
        <header class="header">
            <div class="logo">
                <a href="index.html"><img src="img/logo.png"></a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="index.html" class="nav-letras">Inicio</a></li>
                    <li class="dropdown">
                        <button class="dropbtn">Libros</button>
                        <div class="dropdown-content">
                        <a href="mejoresLibros.html">Libros mas Solicitados</a>
                        <a href="#">Libros mas Recomendados</a>
                        <a href="#">Libros Infantiles</a>
                        </div>
                    </li>
                    <li><a href="quienesSomos.html" class="nav-letras">Quienes somos</a></li>
                </ul>
            </nav>
            <div class="btn">
                <a href="#" class="btn nav-btn"><button class="fa-solid fa-user"></button></a>
                <a href="contactos.html" class="btn nav-btn"><button>contactos</button></a>
            </div>
            <a onclick="openNav()" class="menu" href="#"><button class="fa-solid fa-bars"></button></a>
            <div class="overlay" id="mobile-menu">
                <a onclick="closeNav()" href="" class="close"><i class="fa-solid fa-arrow-left"></i></a>
                <div class="overlay-content">
                    <a href="#">Inicio</a>
                    <a href="#">Libros</a>
                    <a href="#">Quienes Somos</a>
                    <a href="index.html">contactos</a>
                </div>
            </div>
        </header>
        <div class="pantalla-dividida">
            <div v-if="MostrarFormulario" class="principal-formulario">
                <h1>Registro de Usuario</h1>
                <form @submit.prevent="enviarFormulario">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" v-model="nombre" required placeholder="Ingrese su nombre">
    
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" v-model="apellido" required placeholder="Ingrese su apellido Paterno y Materno">
    
                    <label for="correo">Corre Electronico</label>
                    <input type="text" id="correo" v-model="correo" required placeholder="Examle: pedro12345@gmail.com">
                    <br>
                    <button type="submit" class="book-button">Registrar</button>
                </form>
            </div>
            <div v-else="MostrarFormulario" class="principal-formulario">
                <p>Nomnbre : {{nombreRegistrado}}</p>
                <p>Apellido : {{apellidoRegistrado}}</p>
                <p>Correo : {{correoRegistrado}}</p>
                <p>SUS DATOS FUERON REGISTRADO EXITOSAMENTE</p>
                <button @click="NuevoUsuario" class="book-button">Registrar Nuevo Usuario</button>
            </div>
        </div>
    </div>
    <footer class="footer-2">
        <div class="footer-3">
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Correo: info@BookOnline.com</p>
                <p>Teléfono: +591 72178092</p>
            </div>
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Politica y Privacidad</p>
                <p>Sobre Nuestra Empresa</p>
            </div>
            <div class="social-icons">
                <h4>siguenos en nuestra redes oficiales</h4>
                <a href="https://www.facebook.com/profile.php?id=61553220872088&mibextid=ZbWKwL" class="fa-brands fa-facebook footer-facebook"></a>
                <a href="https://www.instagram.com/book.online100?igsh=dW44dHZsMzB4dzA2" class="fa-brands fa-instagram footer-instagram"></a>
                <a href="https://www.youtube.com/channel/UC4-qw6YgYrBchoFytb9vVbA" class="fa-brands fa-youtube footer-youtube"></a>
                <a href="https://www.tiktok.com/@Book_Online" class="fa-brands fa-tiktok footer-tiktok"></a>
                <a href="" class="fa-brands fa-whatsapp footer-whatsapp"></a>
            </div>
        </div>
        <span>© Copyright Book Online All Rights Reserved.</span>
    </footer>
    <script src="vueUsuario.js"></script>
    <script type="text/javascript" src="nav.js"></script>
</body>
</html>
